<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'hello_coffee' %>
<%= javascript_pack_tag 'hello_coffee_erb' %>
<%= javascript_pack_tag 'hello_vue_erb' %>
<%= javascript_pack_tag 'hello_erb' %>
<%= javascript_pack_tag 'hello_elm' %>
<hello-angular></hello-angular>
<%= javascript_pack_tag 'hello_angular' %>
<%= asset_pack_url 'images/building-ecosystem.png' %>
<%= image_tag(asset_pack_path 'images/building-ecosystem.png') %>
